# OpenFOAM build artifacts
linux64GccDPInt32Opt/
lnInclude/
*.dep
*.o

# OpenFOAM runtime artifacts
**/constant/polyMesh/
processor[0-9]*/
log.*
__pycache__/

# OpenFOAM simulation output time directories (large, reproducible)
papers/*/case/*/[0-9]*
papers/*/case/*/constant/polyMesh/
!papers/*/case/*/0/
